@media (max-width: 768px) {
  .container {
    width: 768px;
  }

  .button_arrow-right {
    margin-right: 17.36px;
  }

  .button_arrow-right img {
    width: 16px;
    height: 28, 31px;
  }

  .button_arrow-left {
    margin-left: 17.36px;
  }

  .button_arrow-left img {
    width: 16px;
    height: 28, 31px;
  }

  .our_services {
    height: 679.14px;
  }

  .our_services-description {
    height: 99px;
    padding: 0 40px 0 41px;
  }

  .services-container {
    height: 418px;
    margin: 28px 0px 64px 41px;
  }

  .item-card {
    margin: 0px 53px 39px 0px;
  }

  .portfolio {
    height: 1094.4px;
  }

  .portfolio_title {
    padding-left: 41px;
  }

  .portfolio_description {
    margin: 14px 32px 0px 41px;
  }

  .portfolio_words_container {
    padding: 12px 0px 0px 41px;
  }

  .portfolio_img_conteiner {
    height: 794px;
    margin: 28px 0px 65.4px 39px;
  }

  .img_portfolio {
    width: 216.19px;
    height: 183.76px;
    margin: 0px 19.65px 19.65px 0px;
  }

  .about_us {
    height: 669px;
  }

  .about_us_title {
    padding: 52px 0 0 40px;
  }

  .about_us_description {
    margin: 14px 40px 0px 40px;
  }

  .about_us_conteiner {
    margin: 44px 40px 75px 40px;
  }

  .about_us_card {
    width: 218.94px;
    margin: 0px 14.6px 0px 0px;
  }

  .about_us_photo {
    width: 218.94px;
    height: 218.94px;
  }

  .img_about_us {
    width: 218.94px;
    height: 218.94px;
  }

  .about_us_name {
    margin: 12.06px 0px 0px 0px;
  }

  .about_us_name-description {
    margin: 5px 0px 0px 0px;
  }

  .social_media {
    margin: 11px 0px 0px 0px;
  }

  .get_a_quote {
    height: 631px;
  }

  .get_a_quote_title {
    padding: 53px 0 0 42px;
  }

  .get_a_quote_description {
    height: 96px;
    margin: 14px 37px 19px 42px;
  }

  .get_a_quote_conteiner {
    height: 38px;
    margin: 19px 37px 39.21px 39px;
  }

  .form-container {
    width: 442px;
    margin: 0px 29px 0px 0px;
  }

  .input_text {
    margin: 0px 0px 12px 0px;
    padding: 0px 0px 0px 9.68px;
  }

  .free_text {
    padding: 9px 0 0 10px;
  }

  .send {
    margin: 17px 0px 0px 0px;
  }

  .contact_information {
    width: 221px;
    height: 225px;
  }

  .contact_information_title {
    height: 15px;
    margin: 0px 0px 5px 0px;
  }

  .contact_information_description {
    height: 142px;
    margin: 5px 0px 0px 0px;
  }

  .contacts {
    height: 63px;
    margin: 0px 0px 0px 0px;
  }

  .footer-container {
    padding: 22px 42px 22px 39px;
  }

  .footer_social_media {
    height: 32px;
    margin: 0px 0px 0px 417px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 375px;
  }

  .header {
    height: 71px;
  }

  .logo {
    height: 24px;
    font-size: 19.6875px;
    line-height: 24px;
    padding: 24px 0 23px 0px;
  }

  .menu {
    display: none;
  }

  .header_burger-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    top: 26px;
    height: 21px;
    transition: all 0.6s ease 0s;
    z-index: 6;
  }

  .line_burger-menu {
    width: 25px;
    height: 2.4px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 6.4px;
  }

  .line_burger-menu:last-child {
    margin-bottom: 0px;
  }

  .button_arrow-right {
    width: 33px;
    height: 33px;
    margin-right: 0.18px;
  }

  .button_arrow-right img {
    width: 14, 08px;
    height: 24, 9px;
  }

  .button_arrow-left {
    width: 33px;
    height: 33px;
    margin-left: 0.18px;
  }

  .button_arrow-left img {
    width: 14, 08px;
    height: 24, 9px;
  }

  .our_services {
    height: 1032.6px;
  }

  .our_services_title {
    padding: 25.6px 0 0 32px;
  }

  .our_services-description {
    height: 214px;
    padding: 0 29px 0 32px;
  }

  .services-container {
    height: 699px;
    margin: 25px 0px 43px 32px;
  }

  .item-card {
    margin: 0px 0px 15px 0px;
  }

  .portfolio {
    height: 844px;
  }

  .portfolio_title {
    padding-left: 30px;
    padding-top: 42px;
  }

  .portfolio_description {
    margin: 14px 30px 0px 30px;
  }

  .portfolio_words_container {
    padding: 10px 0px 0px 30px;
  }

  .portfolio_img_conteiner {
    height: 553px;
    margin: 25px 0px 42px 30px;
  }

  .img_portfolio {
    width: 151px;
    height: 128px;
    margin: 0px 13px 14px 0px;
  }

  .img_portfolio-content {
    width: 151px;
    height: 127px;
  }

  .about_us {
    height: 1754px;
  }

  .about_us_title {
    padding: 33px 0 0 30px;
  }

  .about_us_description {
    margin: 14px 30px 0px 30px;
  }

  .about_us_conteiner {
    flex-wrap: wrap;
    margin: 14px 30px 0px 31px;
  }

  .about_us_card {
    width: 314px;
    margin: 0px 34px 34px 0px;
  }

  .about_us_card:last-child {
    margin-bottom: 0px;
  }

  .about_us_photo {
    width: 314px;
    height: 314px;
  }

  .img_about_us {
    width: 314px;
    height: 314px;
  }

  .about_us_name {
    margin: 18px 0px 0px 0px;
  }

  .about_us_name-description {
    margin: 5px 0px 0px 0px;
  }

  .social_media {
    margin: 9px 0px 0px 0px;
  }

  .get_a_quote {
    height: 969px;
  }

  .get_a_quote_title {
    padding: 44px 0 0 30px;
  }

  .get_a_quote_description {
    height: 214px;
    margin: 14px 31px 19px 30px;
  }

  .get_a_quote_conteiner {
    display: block;
    height: 558px;
    margin: 19px 30px 42px 30px;
  }

  .form-container {
    width: 315px;
    margin: 0px 0px 0px 0px;
  }

  .input_text {
    margin: 0px 0px 12px 0px;
    padding: 0px 0px 0px 6.9px;
  }

  .free_text {
    height: 159px;
    padding: 9px 0 0 7.13px;
  }

  .send {
    width: 315px;
    height: 50px;
  }

  .contact_information {
    width: 315px;
    height: 191px;
    margin: 32px 0 0 0;
  }

  .contact_information_title {
    height: 15px;
    margin: 0px 0px 5px 0px;
  }

  .contact_information_description {
    height: 94px;
    margin: 5px 0px 5px 0px;
  }

  .contacts {
    height: 72px;
    margin: 5px 0px 0px 0px;
  }

  .footer-container {
    display: block;
    padding: 22px 111px 22px 112px;
  }

  .footer-info {
    display: none;
  }

  .footer_social_media {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 375px) {
  body.stop {
    overflow: hidden;
  }

  .container-burger-menu__open {
    position: fixed;
    display: flex;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 5;
    transition: all 0.6s ease 0s;
  }

  .header_burger-menu.open {
    transform: rotate(-90deg);
    position: fixed;
  }

  .container-burger-menu__open.open {
    left: 0;
  }

  .logo.hide {
    display: none;
  }

  .menu__open {
    overflow: auto;
    width: 76%;
    height: 100%;
    background: #2d303a;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  }

  .menu-opacity {
    width: 24%;
    height: 100%;
    background: #2d303a;
    opacity: 0.6;
  }

  .menu__open-list li {
    list-style-type: none;
  }

  .menu__open-list {
    height: 260px;
    padding: 0;
    margin: 232px 0 0 71px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .list-item {
    font-family: "Lato-Light";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    color: white;
    text-decoration: none;
  }

  .list-item:hover {
    cursor: pointer;
    text-decoration: underline #18a0fb;
    color: #f06c64;
  }

  .logo-menu__open {
    position: fixed;
    display: block;
    font-family: "Lato-Semibold";
    font-style: normal;
    font-weight: bold;
    font-size: 19.6875px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin: 24px 0 0 71px;
  }
}
